*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'jeo';
    src: url('Jeo-Regular.woff2') format('woff2'),
         url('Jeo-Regular.woff') format('woff'),
         url('Jeo-Regular.ttf') format('truetype');
  }
body{
    width: 100%;
    color:black;
    background:white;
    padding:20px 20px;
}
#result{
    font-size: 30px;
}


a{
    cursor:pointer;
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
    font-style: oblique;
}
#metLink a{
    color:#CECECE;
    font-style: oblique;
}

.artInfo{
    padding: 20px 0px;
    float:left;
    width:250px;
}
.box{
    float: left;
    width:90%;
    margin:40px 0px;

}
.leftbox{
    padding: 20px 0px;
    float:left;
    width:350px;
}


.resultField{
    float:left;
    padding: 20px 20px;
    width:350px;
}
#tags-cloud {
    top: 130px;
    background: #CECECE;
    position: absolute;
    width: 100%;
    height: 550;
}

.tag {
    border-radius:100%;
    display:inline-block;
    position:absolute;
    width: 0px;
 }
 .aboutInfo{
     position:fixed;
     bottom:20px;
    font-family: 'jeo';
    font-size: 12px;
    padding:0px 10px;
    float: left;
    width:90%;
 }
 #title{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman';
    float: left;
    font-size: 45px;
    width: 90%;
    padding-bottom: 10px;
 }
 #metResult{
    width: 300px;
    margin: 10px 20px;
    float: left;
    display: block;
    padding-left: 20px;
    border-left: 1px solid black;
 }
 #keyword{
    width: 200px;
    float: left;
    font-family: 'Times New Roman';
    float: left;
    font-size: 45px;
 }
 #preview{
    width: 300px;
    margin: 10px 20px;
    float: left;
    display: block;
 }
img{
    width: 300px;
    margin: 10px 20px;
    float: left;
    display: block;
 }
 .menu{
    font-family: 'Ballet', cursive;
    float: left;
    padding-right:20px;
    width: 100%;
 }

 label{
    width: 100%;
    font-size: 40px;
    float: left;
    text-align: left;
 }

label:hover{
    color:green;
}


#metLink{
    color: blue;
    font-style: oblique;
}

